.cards {
  background-color: #f2f5eb;
  height: 100vh;
  overflow-x: hidden;
}
.profile-card {
  margin: 10px auto;
}

.avatar img {
  border-radius: 50%;
}

.avatar .online-status p {
  border: 1px solid rgb(43, 141, 4);
  width: 20%;
  margin: 10px auto;
  border-radius: 10px;
  color: green;
}
.pro-text h6 {
  font-weight: 700;
}
.pro-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pro-status {
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview_publicmode p {
  width: 80%;
  margin: 10px auto;
  border: 1px solid gray;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
}

.preview_publicmode p:hover {
  background-color: gray;
  color: white;
}
.pro-details .pro-details-flex {
  display: flex;
  justify-content: space-between;
}
.availability {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.icon-text {
  display: flex;
  align-items: center;
}
.avail-box p {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  font-weight: 500;
}

.avail-box p:hover {
  background-color: gray;
  color: white;
}

.gigs-text {
  background-color: white;
  padding: 15px;
  font-weight: 500;
}
.gigs-cards {
  margin: 10px auto;
}

.gig-card {
  background-color: white;
  padding-left: 0%;
  padding: 10px;
  margin-top: 30px;
}
.gig-card .title {
  padding: 10px;
  font-weight: 500;
}
.gig-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
.gig-price .price-text {
  color: green;
}
.gig-price .price-text span {
  font-weight: 700;
  font-size: 17px;
}
.share-gig {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 13px;
  color: green;
  padding: 3px;
  right: 0%;
}
.pro-desc {
  display: flex;
  justify-content: space-between;
}
.edit-desc {
  color: blue;
}
.pro-desc .desc {
  font-weight: 700;
}

.lang-title {
  font-weight: 700;
}
.skill-title {
  font-weight: 700;
  margin-bottom: 10px;
}
