.cards {
  background-color: #f2f5eb;
  height: 100vh;
  overflow-x: hidden;
}
.profile-card {
  background-color: white;
  border: 1px solid black;
  margin: 40px;
}
.gigs-card {
  border: 1px solid black;
  margin: 40px;
}

.avatar img {
  border-radius: 50%;
}

.avatar .online-status p {
  border: 1px solid rgb(43, 141, 4);
  width: 20%;
  margin: 10px auto;
  border-radius: 10px;
  color: green;
}
.pro-text h6 {
  font-weight: 700;
}
.pro-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pro-status {
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview_publicmode p {
  width: 80%;
  margin: 10px auto;
  border: 1px solid gray;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  font-weight: 500;
}

.preview_publicmode p:hover {
  background-color: gray;
}
.pro-details .pro-details-flex {
  display: flex;
  justify-content: space-between;
}
